.footer {
  background-color: $text-color;
  padding-top: 56px;
  padding-bottom: 32px;
  @include media-breakpoint-up(md) {
    padding-top: 76px;
    padding-bottom: 40px;
  }
  &__top {
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include media-breakpoint-up(lg) {
      padding-bottom: 44px;
    }
  }
  &__logo {
    height: 32px;
  }
  &__social-media {
    display: flex;
    gap: 20px;
    @include media-breakpoint-up(lg) {
      position: relative;
      top: 92px;
      align-items: center;
    }
  }
  &__nav {
    padding-top: 32px;
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 112px;
      flex-wrap: wrap;
      margin: 0;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
        gap: 58px;
      }
    }
    a {
      color: white;
      font-size: 12px;
      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
    }
  }
  &__authority {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-top: 60px;
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
    a {
      color: rgba(255, 255, 255, 0.5);
    }
    .policy {
      display: flex;
      gap: 20px;
      @include media-breakpoint-up(md) {
        gap: 58px;
      }
    }
    .copyright {
      margin-top: 32px;
      text-align: center;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
  }
}
