.hero-section {
  position: relative;
  transition: 1s ease-in-out;
  &__title {
    max-width: 600px;
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      max-width: 885px;
    }
  }
}
