// FOR THE COMMON CSS THROUGHOUT THE PROJECT

* {
  padding: 0;
  margin: 0;
}

.html,
body {
  font-size: $base-font;
  color: $base-font-color;
  font-weight: $font-normal;
  font-family: $font-family;
  overflow-x: hidden;
  background: $theme-background;
}

h1 {
  font-size: 32px;
  font-family: "Galaxie";
  color: $theme-blue;
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 64px;
  }
}

h2 {
  color: $theme-blue;
  font-size: 14px;
  font-family: "Inter";
  font-weight: bold;
}

.section-bg {
  $self: &;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 16px);
  height: 100%;
  z-index: -1;

  &--left {
    left: 0;
  }

  @each $size-name in map-keys($container-max-widths) {
    $size-value: map-get($container-max-widths, $size-name);
    @if $size-value > 720 {
      @include media-breakpoint-up($size-name) {
        width: calc(
          100% -
            ((100vw - #{$size-value}) / 4 + (#{$container-lg-padding-x} / 2))
        );
      }
    } @else {
      @include media-breakpoint-up($size-name) {
        width: calc(
          100% - ((100vw - #{$size-value}) / 4 + (#{$container-padding-x} / 2))
        );
      }
    }
  }

  &--cut {
    height: calc(100% - (#{$hero-image-height} / 2));
    @include media-breakpoint-up(sm) {
      height: calc(100% - (#{$hero-image-height-sm}/ 2));
    }
    @include media-breakpoint-up(lg) {
      padding-left: 60px;
      height: calc(100% - (#{$hero-image-height-lg}/ 2));
    }
  }

  &__image-box {
    height: $hero-image-height;
    padding-left: 32px;
    margin-top: 40px;
    @include media-breakpoint-up(sm) {
      height: $hero-image-height-sm;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 60px;
      height: $hero-image-height-lg;
    }
    @each $size-name in map-keys($container-max-widths) {
      $size-value: map-get($container-max-widths, $size-name);
      @include media-breakpoint-up($size-name) {
        margin-left: calc((100vw - #{$size-value}) / 2);
      }
    }
    #{$self}__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--left {
      padding-right: 32px;
      padding-left: 0;
      margin-left: 0;
      @include media-breakpoint-up(lg) {
        padding-right: 60px;
      }
      @each $size-name in map-keys($container-max-widths) {
        $size-value: map-get($container-max-widths, $size-name);
        @include media-breakpoint-up($size-name) {
          margin-right: calc((100vw - #{$size-value}) / 2);
        }
      }
    }
  }
}

.container {
  @include container($container-padding-x);
}

.container-lg {
  @include media-breakpoint-up(lg) {
    @include container($container-lg-padding-x);
  }
}
