@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galaxie";
  src: url("../fonts/galaxy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
