<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('html-loader!../blocks/top.html') %>
</head>

<body>
	<%= require('html-loader!../blocks/social-media.html') %>
		<%= require('html-loader!../blocks/header.html') %>
			<main>
				<%= require('html-loader!../blocks/hero.html') %>
					<%= require('html-loader!../blocks/news.html') %>
						<%= require('html-loader!../blocks/mission.html') %>
							<%= require('html-loader!../blocks/beneficiaries.html') %>
								<%= require('html-loader!../blocks/founders.html') %>

			</main>
			<%= require('html-loader!../blocks/footer.html') %>
				<%= require('html-loader!../blocks/bottom.html') %>
</body>

</html>