// EXAMPLES

// base font
$base-font: 16px;
$base-font-color: #1A1311;


// Buttons
$btn-primary: #439A46;
$btn-secondary: #B8B8B8;
$base-green: #008129;
$btn-primary-light: #E8F5E9;

// font weights
$font-normal: 400;
$font-thin: 300;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// font-family
$font-family: 'Noto Sans JP', sans-serif;